<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/instructor}">

<head>
    <title th:text="|Metas: ${course.name}|">Metas del Curso</title>
    <meta name="description" content="Metas del curso.">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div layout:fragment="content">

    <div class="row g-4">
        <div class="col-lg-3">
            <div th:replace="~{layouts/fragments/instructor/course-edit-nav :: navigation(course=${course}, activePage='goals')}"></div>
        </div>

        <div class="col-lg-9">
            <div id="app">
                <goal-manager th:data-slug="${course.slug}"></goal-manager>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="js">

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <script type="module" th:src="@{/js/app.js}"></script>

</div>

</body>
</html>