<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="pagination(page, baseUrl)">
        <nav aria-label="Navegación de páginas">
            <ul class="pagination justify-content-center">
                
                <li th:class="${page.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" 
                       th:href="${page.hasPrevious()} ? @{${baseUrl}(page=${page.number - 1}, size=${page.size}, sort=${page.sort.toString().replace(': ', ',')})}"
                       tabindex="-1" aria-disabled="true">
                       Anterior
                    </a>
                </li>
                
                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" 
                    th:class="${page.number == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link" 
                       th:href="@{${baseUrl}(page=${i}, size=${page.size}, sort=${page.sort.toString().replace(': ', ',')})}">
                       [[${i + 1}]]
                       <span th:if="${page.number == i}" class="sr-only">(actual)</span>
                    </a>
                </li>
                
                <li th:class="${page.hasNext()} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" 
                       th:href="${page.hasNext()} ? @{${baseUrl}(page=${page.number + 1}, size=${page.size}, sort=${page.sort.toString().replace(': ', ',')})}">
                       Siguiente
                    </a>
                </li>
            </ul>
        </nav>
        <div class="text-center mt-2">
            Mostrando [[${page.size}]] registros. Página [[${page.number + 1}]] de [[${page.totalPages}]]. Total: [[${page.totalElements}]] registros.
        </div>
    </div>

</body>
</html>